@using System.Net.Http;
@{
    string Lat()
    {
        var info = "";
        HttpClient http = new HttpClient();
        var data = http.GetAsync("http://api.open-notify.org/iss-now.json").Result.Content.ReadAsStringAsync().Result;
        SiteResponse dat = Newtonsoft.Json.JsonConvert.DeserializeObject<SiteResponse>(data);
        info = dat.iss_position.latitude;
        return info;
    }

    string Lon()
    {
        var inf = "";
        HttpClient http = new HttpClient();
        var data = http.GetAsync("http://api.open-notify.org/iss-now.json").Result.Content.ReadAsStringAsync().Result;
        SiteResponse dat = Newtonsoft.Json.JsonConvert.DeserializeObject<SiteResponse>(data);
        inf = dat.iss_position.longitude;
        return inf;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css">
    <title>CosmicTracker</title>
</head>
<body class="is-preload">
    <div class="container body-content">
        @RenderBody()
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </environment>
    </div>
    <script>
        function updateTime() {
            document.getElementById("time").innerHTML = new Date().toTimeString();
        }
        setInterval(updateTime, 1000);
    </script>
    <script>
        function initMap() {
            var location = { lat: @Lat(), lng: @Lon()};
            var map = new google.maps.Map(document.getElementById("map"), {
                center: location,
                zoom: 4,
                mapTypeId: 'terrain'
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            setInterval(initMap, 5000);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMgsOFogiP0mzDHrnDWhde6FAWnqddRbo&callback=initMap">
    </script>
</body>
</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

